<<<<<<< HEAD
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .duration-high {
        @apply transition-all duration-300 ease-in-out;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spin {
    animation: spin 40s linear infinite;
}

html {
    scroll-behavior: smooth;
}

::selection {
    @apply bg-primary text-white;
>>>>>>> b9a2f3c6c4af99fc36422149a4074e78b162538f
}
